.default-container {
	width: 60%;
	min-height: 100%;
	padding-top: 10rem;
}

.grid {
	height: 100%;
	padding-top: 0;
}

.pull-middle {
	margin: 0 auto;
}

.move-inline {
	display: inline-block;
}

.add-sub-btn {
	margin-left: 0.7rem;
	cursor: pointer;
}
